* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color schemes */
:root {
    --primary-color: ;
    --secondary-color: ;
    --tertiary-color: ;
    --text-primary: #9e9797;
    --text-secondary: #e2e1e1;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: #535366;
}

body::-webkit-scrollbar-thumb {
    background: #49a2b8;
}

/* header */
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}